<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>

    <div><a href="/index">Home</a></div>
    <hr>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    <h1>Sign In</h1>
    <form action="" method="post" name="login">
        {{ form.hidden_tag() }}
        <p>
            Username:
            {{ form.username }}
        </p>
        <p> Password: {{ form.password }} </p>
        <p>{{ form.submit }}</p>
    </form>
</body>
</html>